imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

#Sonata internazionalization
sonata_intl:
    timezone:
        default: Europe/Rome
        locales:
            it:    Europe/Rome
        detectors:
            - sonata.intl.timezone_detector.locale        
#Uploader
vich_uploader:
    db_driver: orm
    mappings:
        training_image:
            uri_prefix:         /images/training_image
            upload_destination: '%kernel.root_dir%/../web/images/training_image'
            namer:              vich_uploader.namer_uniqid
            directory_namer:    
                service: vich_uploader.directory_namer_subdir
                options: {chars_per_dir: 4, dirs: 2} # will create directory "a/b" for "abcdef.jpg"
            inject_on_load:     true
            delete_on_update:   true
            delete_on_remove:   true

    
# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    globals:
        google_maps_api_key: '%google.maps_api_key%'
    form_themes:
      - 'SonataCoreBundle:Form:datepicker.html.twig'

# Facebook login Configuration
hwi_oauth:
    # name of the firewall in which this bundle is active, this setting MUST be set
    firewall_names: [main]
    connect:
        account_connector: app.provider.oauth
        confirmation: false
    resource_owners:
        facebook:
            type:                facebook
            client_id:           %facebook_client_id%
            client_secret:       %facebook_client_secret%
            scope:               "email, public_profile"
            infos_url:           "https://graph.facebook.com/me?fields=id,name,email,picture.type(large)"
            paths:
                email: email
            options:
                display: page
        google:
            type:                google
            client_id:           "Insert Google client ID here"
            client_secret:       "Insert Google client secret here"
            scope:              "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile"
            paths:
                email: email
                         
# app/config/config.yml
stof_doctrine_extensions:
    default_locale: en_US
    orm:
        default:
            translatable: true
            tree: false
            timestampable: true
            loggable: false
            sluggable: false
            
framework:
    #esi:             ~
    #translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        types:
            point: CrEOF\Spatial\DBAL\Types\Geometry\PointType
            json: Sonata\Doctrine\Types\JsonType

    orm:

        auto_generate_proxy_classes: "%kernel.debug%"
        entity_managers:
            default:
                dql:
                  numeric_functions:
                    st_distance:     CrEOF\Spatial\ORM\Query\AST\Functions\MySql\STDistance
                    st_distance_sphere:     AppBundle\ORM\Query\AST\Functions\MySql\STDistanceSphere
                    point:     CrEOF\Spatial\ORM\Query\AST\Functions\MySql\Point
                    
                naming_strategy: doctrine.orm.naming_strategy.underscore
                auto_mapping: true
                mappings:
                    gedmo_translatable:
                        type: annotation
                        prefix: Gedmo\Translatable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Entity"
                        alias: GedmoTranslatable # (optional) it will default to the name set for the mapping
                        is_bundle: false
                    gedmo_translator:
                        type: annotation
                        prefix: Gedmo\Translator\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translator/Entity"
                        alias: GedmoTranslator # (optional) it will default to the name set for the mapping
                        is_bundle: false

sonata_doctrine_orm_admin:
    templates:
      types:
        list:
          image_type: MyBundle:Default:list_html.html.twig
          
# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

fos_oauth_server:
    db_driver:           orm
    client_class:        AppBundle\Entity\Auth\Client
    access_token_class:  AppBundle\Entity\Auth\AccessToken
    refresh_token_class: AppBundle\Entity\Auth\RefreshToken
    auth_code_class:     AppBundle\Entity\Auth\AuthCode
    service:
        user_provider: fos_user.user_manager             # This property will be used when valid credentials are given to load the user upon access token creation
        
fos_user:
    db_driver: orm
    firewall_name: api                                  # Seems to be used when registering user/reseting password,
                                                        # but since there is no "login", as so it seems to be useless in
                                                        # our particular context, but still required by "FOSUserBundle"
#    firewall_name: main
    user_class: AppBundle\Entity\User

fos_rest:
    param_fetcher_listener: true
    body_listener: true
    format_listener:
        enabled: true
        rules:
            - { path: ^/api, priorities: ['json', '*/*'], fallback_format: json, prefer_extension: true }
            - { path: ^/, priorities: ['html', '*/*'], fallback_format: html, prefer_extension: true }            
    versioning: true
    view:
        view_response_listener: 'force'
                            
sonata_block:
    default_contexts: [cms]
    blocks:
        # enable the SonataAdminBundle block
        sonata.admin.block.admin_list:
            contexts: [admin]
